<div
  {{did-insert this.fetchSummary}}
  class="rpg-user-wrapper {{if loading 'stats-loading'}}"
>
  <div class="rpg-character__wrapper">
    {{log this.args.user}}
    <div class="rpg-bio">
      <div class="rpg-avatar">
        {{avatar this.args.user imageSize="huge"}}
        <div class="rpg-title">
          {{this.args.user.title}}
        </div>
      </div>

      <div class="rpg-name-wrapper">

        <div class="rpg-level">

          {{this.userLevel}}
        </div>

        <div class="rpg-name">
          {{#if this.args.user.name}}
            {{this.args.user.name}}
          {{else}}
            {{this.args.user.username}}
          {{/if}}
        </div>
        <div class="rpg-username">
          {{#if this.args.user.name}}
            {{this.args.user.username}}
          {{/if}}
        </div>

      </div>

    </div>
    <div class="rpg-badges">

      {{#each this.args.user.featured_user_badges as |badge|}}
        <UserBadge @badge={{badge.badge}} @user={{this.args.user}} />
      {{/each}}

    </div>
    <div class="rpg-metrics">
      <div>
        <dt>Joined</dt>
        <dd>{{format-date
            this.args.user.created_at
            format="medium"
            leaveAgo="true"
          }}</dd>
      </div>
      <div>
        <dt>Seen</dt>
        <dd>
          {{format-date
            this.args.user.last_seen_at
            format="medium"
            leaveAgo="true"
          }}</dd>
      </div>
      <div>
        <dt> Topics</dt>
        <dd> {{this.userSummary.topic_count}}</dd>
      </div>
      <div>
        <dt> Posts</dt>
        <dd>{{this.userSummary.post_count}}</dd>
      </div>
      <div>
        <dt> Visits</dt>
        <dd>{{this.userSummary.days_visited}}</dd>
      </div>
      <div>
        <dt> Likes</dt>
        <dd>{{this.userSummary.likes_given}}</dd>
      </div>
    </div>

    <div class="rpg-actions">
      <ul>
        {{#if this.args.user.can_send_private_message_to_user}}
          <li>
            <DButton
              @class="btn-primary compose-pm"
              @action={{route-action "composePrivateMessage" this.args.user}}
              @icon="envelope"
              @label="user.private_message"
            />
          </li>
        {{/if}}

        {{#if this.currentUser.staff}}
          <li><a
              href={{this.args.user.adminPath}}
              class="btn btn-default user-admin"
            >{{d-icon "wrench"}}<span class="d-button-label">{{i18n
                  "admin.user.show_admin_profile"
                }}</span></a></li>
        {{/if}}

        <PluginOutlet
          @name="user-profile-controls"
          @connectorTagName="li"
          @outletArgs={{hash model=this.model}}
        />

      </ul>
    </div>

  </div>
  <div class="rpg-stats__wrapper">
    <div class="rpg-stats__stat">
      <dt>Strength (Post Count)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="
        width:{{this.normalizedPostCount}}%; 
        background-color: {{barColor this.normalizedPostCount}};"
        >
          {{this.normalizedPostCount}}
        </dd>
      </div>
    </div>

    <div class="rpg-stats__stat">
      <dt>Charisma (Likes Received)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="
        width:{{this.normalizedLikesReceived}}%; 
        background-color: {{barColor this.normalizedLikesReceived}};"
        >
          {{this.normalizedLikesReceived}}
        </dd>
      </div>
    </div>

    <div class="rpg-stats__stat">
      <dt>Intelligence (Time Read)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="
        width:{{this.normalizedTimeRead}}%; 
        background-color: {{barColor this.normalizedTimeRead}};"
        >
          {{this.normalizedTimeRead}}
        </dd>
      </div>
    </div>

    <div class="rpg-stats__stat">
      <dt>Wisdom (Topics Entered)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="width:{{this.normalizedWisdom}}%; background-color: {{bar-color
            this.normalizedWisdom
          }};"
        >
          {{this.normalizedWisdom}}
        </dd>
      </div>
    </div>

    <div class="rpg-stats__stat">
      <dt>Stamina (Days Visited)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="
        width:{{this.normalizedDaysVisited}}%; 
        background-color: {{barColor this.normalizedDaysVisited}};"
        >
          {{this.normalizedDaysVisited}}
        </dd>
      </div>
    </div>

    <div class="rpg-stats__stat">
      <dt>Luck (Likes Ratio)</dt>
      <div>
        <dd
          class="rpg-stats__bar"
          style="width:{{this.normalizedLuck}}%; background-color: {{bar-color
            this.normalizedLuck
          }};"
        >
          {{this.normalizedLuck}}
        </dd>
      </div>
    </div>
  </div>
</div>